// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #eb9c3c;

// ----------------------------------------------------------------------------
// Widget-textcarousel styles
// ----------------------------------------------------------------------------
.widget-textcarousel {
  background-color: $background-color;

  p {
    padding: 1em;
    font-size: 26px;
  }
}
