<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":4,"row":1,"size_x":1,"size_y":2},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":2},{"col":2,"row":1,"size_x":1,"size_y":2},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":2,"size_y":1},{"col":3,"row":3,"size_x":2,"size_y":1}]')
});
</script>

<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="farmore-campus-leaderboard" data-view="List"
        data-unordered="true"
        data-title="CAMPUSES"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="farmore-next-step" data-view="Fullpie"
        data-title="NEXT STEPS"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="farmore-serve" data-view="List"
        data-unordered="true"
        data-title="SERVE"
        data-moreinfo=""
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="farmore-commit-own" data-view="List"
        data-unordered="true"
        data-title="COMMIT/OWN"
        data-moreinfo=""
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="farmore-weekly" data-view="Graph"
        data-title="SIGN UPS"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="real-time-feed" data-view="Textcarousel"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="farmore-photos" data-view="Imagecarousel"
      ></div>
    </li>
  </ul>
</div>
